body {
  padding-top: 50px;
}

.lk-box {
    margin: 10px 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 20px;
}

.lk-box h1 {
    margin: 0 0 10px 0;
}

.lk-box-nb {
    margin: 10px 10px;
}

.fa {
	color:#CCC;
	font-size:25px;
}

.complete {
	color:#000;
}

.progress-bar {
	color:#000;
}

.achievement {
    padding: 8px 0;
}

.achievement .fa {
    margin-right: 8px;
}

.nav-tabs .fa {
    color: #428bca;
}